@import '../assets/styles/abstracts/reset';
@import '../assets/styles/abstracts/variables';
@import '../assets/styles/abstracts/mediaquery';



.servicesContainer{
    background-image: url("../assets/images/bg.jpg");
    background-position: right;
    padding: 90px 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 40px;
}

.servicesText{
    width: 30rem;
    display: flex;
    flex-direction: column;
    gap: 20px;
    p{
        color: white;
        font-size:16px ;
        font-weight: 500;
        font-family: $primaryFont;
    }

    h3{
        color: white;
        font-size: 26px;
        font-family: $primaryFont;
    }

}

.arrow{
    visibility: hidden;
}

.arrowClicked{
    visibility: visible;

}

.shortcutServices{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    .introServiceBox{
        width: 150px;
        box-shadow: 0px 0px 10px -5px $secondaryBlue;
        background-color: rgba(255, 255, 255, 0.696);
        border-radius: 8px;
        text-align: center;
        transition: 0.5s;
        &:hover{
            transform: scale(1.05);
        }
        a{
            color: black;
            font-weight: 500;
            font-size: 18px;
            padding: 15px 0;
            display: inline-block;
            width: 100%;
        

            
        }
    }
}

.containerofServices{
    padding: 150px 0;
    font-family: $primaryFont;
    border: 1 px solid red;
    border-radius: 70px;
}

.headingforServices{
    padding-bottom: 70px;
    text-align: center;
    h1{
        font-size: 40px;
        font-weight: 600;
        color: black;
    }
}

.cardsCont{
    padding: 0 120px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    row-gap: 50px;
}

.cardsGrouped{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
.servicesContainerMain{
    position: relative;
}
.imgNet{
    opacity: 0.5;
    width: 550px;
    position: fixed;
    right: -40px;
    top: 200px;
    z-index: -1000;
    animation: rotateNet 20s ease-in-out infinite;
    img{
        width: 100%;
    }
}


@keyframes rotateNet {
    from {
      transform: rotate(0deg); /* Starting rotation angle */
    }
    to {
      transform: rotate(360deg); /* Ending rotation angle (360 degrees) */
    }
  }


@include lg {
    
}