@import '../../assets/styles/abstracts/reset';
@import '../../assets/styles/abstracts/variables';
@import '../../assets/styles/abstracts/mediaquery';


.footerCont{
    padding: 40px 150px;
    background-image: url("../../assets/images/bg.jpg");
    background-position: bottom;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.navLinksContainer{
    display: flex;
    gap: 50px;
    li{
        
        a{
            font-size: 14px;
            font-family: $secondaryFont;
            font-weight: 400;
            color: white;
            transition: 0.2s;
            &:hover{
                color: $primaryButtonColor;
                text-decoration: underline;
            }
        }
    }
}

.copyText{
    p{
        color: white;
        font-size: 14px;
    }
}